/target
/short_term_td.txt
/long_term_td.txt
/prompts_cmds.txt
/notes.txt
/old_refs.txt
/temp_context.txt
/coverage
/improvements.txt
/audit_report.txt
/lib_pub_api_notes.txt
/inline_commenting.txt
/doc_commenting.txt
/current_commit_notes.txt